{{#each mensajes}}
<div class="msgItem d-flex flex-row flex-wrap">
    <div class="pe-2 email">{{user}}</div>
    <div class="time"><span>[</span>{{time}}<span class="pe-1">]: </span></div>
    <div class="msj">{{message}}</div>
</div>
{{/each}}