{{#each productos}}
<tr>
    <td>{{this.titulo}}</td>
    <td>{{this.precio}}</td>
    <td><img style="max-width: 60px;" src="{{this.thumbnail}}" alt="{{this.titulo}}" class="w-100"></td>
</tr>
{{/each}}